<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h2>Home</h2>
      <nav>
        <a href="/users/login">login</a>
        <a href="/users/register">Register</a>
      </nav>
    </header>
    <section>
      <h1>Login sample</h1>
    </section>
  </body>
</html>