<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container flex justify-between align-center">
        <h2>Home</h2>
        <nav>
          <a class="links" href="/products">View Products</a>
          <a class="links" href="/admins/adminlogin">Admin-Login</a>
          <a class="links" href="/admins/adminregister">Admin-Register</a>
          <a class="links" href="/users/login">Login</a>
          <a class="links" href="/users/register">Register</a>
        </nav>
      </div>
    </header>
    <section class="container text-center">
      <h2 class="title-index">
        Welcome to SwiftShop.com, where shopping becomes an effortless pleasure.
      </h2>
      <p class="para">
        To continue shopping on Ecom.com, please proceed to
        <a class="link-para" href="/users/register">register</a> if you are a
        new user or <a class="link-para" href="/users/login">login</a> if you
        are already an existing user.
      </p>
    </section>
  </body>
</html>
