<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="container flex justify-between align-center">
        <h1>Articles</h1>
        <nav>
          <a class="links" href="/articles">Back to Articles</a>
        </nav>
      </div>
    </header>
    <section class="container">
      <div class="text-center">
        <form class="box" action="/comments/<%= comment.id %>" method="POST">
          <h2 class="form-header">Update Comment</h2>
          <textarea
            class="comments"
            name="content"
            id=""
            cols="65"
            rows="10"
            placeholder="Add comment..."
          >
           <%= comment.content %></textarea
          >
          <input
            class="form-control-comments"
            type="text"
            name="likes"
            placeholder="Add likes"
            value="<%= comment.likes %>"
          />
          <input
            class="form-control-comments"
            type="text"
            name="dislikes"
            placeholder="Add dislikes"
            value="<%= comment.dislikes %>"
          />
          <input class="btn btn-comment" type="submit" value="Update Comment" />
        </form>
      </div>
    </section>
  </body>
</html>
